services:
  backend:
    build: ./back-end
    container_name: backend_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./back-end:/app
    environment:
      - FLASK_ENV=development
