services:
  backend:
    build: ./back-end
    container_name: backend_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./back-end:/app
    environment:
      - FLASK_ENV=development

  frontend:
      image: nginx:alpine
      container_name: web_frontend
      ports:
        - "3000:80"
      volumes:
        - ./front-end:/usr/share/nginx/html